@import "tailwindcss";

/* Default (Dark) Theme */
:root {
  --primary-bg: #242424;
  --secondary-bg: #1b1c1a;
  --primary-border: #505459;
  --secondary-border: #3b3b3b;
  --text-primary: #f1f5f9;
  --text-secondary: #9ca3af;
  --accent-blue: #3b82f6;
  --accent-purple: #8b5cf6;
  --accent-green: #10b981;
  --accent-yellow: #f59e0b;
  --accent-red: #ef4444;
  --input-bg: #3b3b3b;
  --success: #10b981;
  --text-primary: #f1f5f9;
  --text-secondary: #94a3b8;
  --button-primary: #70c7ba;
  --kas-primary: #70c7ba;
  --kas-secondary: #49eacb;
  --text-warning: #fbb81a;
  /* amber-300 */
}

/* Light Theme */
[data-theme="light"] {
  --primary-bg: #f2f2f2;
  --secondary-bg: #ffffff;
  --primary-border: #e2e8f0;
  --secondary-border: #cbcbcb;
  --text-primary: #1e293b;
  --text-secondary: #6b7280;
  --accent-blue: #3b82f6;
  --accent-purple: #8b5cf6;
  --accent-green: #10b981;
  --accent-yellow: #f59e0b;
  --accent-red: #dc2626;
  --input-bg: #f7f7f7;
  --success: #10b981;
  --text-primary: #1e293b;
  --text-secondary: #64748b;
  --button-primary: #70c7ba;
  --kas-primary: #70c7ba;
  --color-kas-secondary: #49eacb;
  --text-warning: #ee8b00;
  /* amber-600 */
}

@theme {
  --animate-fade-in: fade-in 2s ease forwards;
  --animate-modal-fadein: modalFadeIn 0.2s ease;
  --color-primary-bg: var(--primary-bg);
  --color-secondary-bg: var(--secondary-bg);
  --color-primary-border: var(--primary-border);
  --color-secondary-border: var(--secondary-border);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-accent-blue: var(--accent-blue);
  --color-accent-purple: var(--accent-purple);
  --color-accent-green: var(--accent-green);
  --color-accent-yellow: var(--accent-yellow);
  --color-input-bg: var(--input-bg);
  --color-success: var(--success);
  --color-kas-primary: var(--kas-primary);
  --color-kas-secondary: var(--kas-secondary);
  --color-text-warning: var(--text-warning);
}

/* we need this to assist with splash > loaded app transition. Its our css limit */
body {
  background-color: var(--primary-bg);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
